#################################
# Maven
#--------------------------------
target/
dependency-reduced-pom.xml

#################################
# Tests
#--------------------------------
test.xml

#################################
# IntelliJ IDEA
#--------------------------------
*.iml
.idea/